@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
// Utilities
@import "./utilities/colors.scss";
@import "./utilities/mixins.scss";

// Components
@import "./components/button.scss";
@import "./components/promotional-message.scss";

// Layouts
@import "./layouts/fooditem.scss";
@import "./layouts/header.scss";
@import "./layouts/product.scss";
@import "./layouts/footer.scss";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $color-black;
}

html,
body {
  background-color: #f6f6f6;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


body {
  // @include smallerThanDesktop {
  //   padding-right: 20px;
  //   padding-left: 20px;
  // }


  display: grid;
  grid-template-rows: auto 1fr auto;
}

.tabs {

  @media (max-width: 1271px) {
    width: 100vw;
  }

  .tabs2 {
    display: flex;
    justify-content: center;

    @media (max-width: 563px) {
      justify-content: space-evenly;
    }

    li a {
      font-size: 1em;
      // color: rgb(150, 23, 23);
    }
  }
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textInfo {
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 563px) {
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
  }

  .history {
    width: 40%;

    // margin-right: 1em;
    @media (max-width: 563px) {
      width: 100%;
    }
  }

  .features {
    width: 40%;

    @media (max-width: 563px) {
      width: 100%;
    }
  }

  .last {
    text-align: center;
  }

  h1 {
    font-size: 2.3em;
    color: #D5572D;
    font-weight: bold;
    text-align: center;
  }
}

.menHeading {

  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-size: 3em;
  padding-left: .5em;
  color: rgb(150, 23, 23);
  padding-right: .5em;
  font-family: 'Lobster',
    cursive;

  @media (max-width: 483px) {
    font-size: 3em;
  }
}

.subHeading {
  text-align: center;
  padding-top: none;
  padding-bottom: none;
  padding-left: 1em;
  padding-right: 1em;

  @media (max-width: 483px) {
    font-size: 1.2em;
  }
}

.foodContent {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.background-image {
  position: absolute;
  opacity: 0.02;
  left: -10vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none;
}