@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
// Utilities
@import "./utilities/colors.scss";
@import "./utilities/mixins.scss";

// Components
@import "./components/button.scss";
@import "./components/promotional-message.scss";

// Layouts
@import "./layouts/fooditem.scss";
@import "./layouts/header.scss";
@import "./layouts/product.scss";
@import "./layouts/footer.scss";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $color-black;
}

html,
body {
  background-color: #f6f6f6;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}


body {
  // @include smallerThanDesktop {
  //   padding-right: 20px;
  //   padding-left: 20px;
  // }


  display: grid;
  grid-template-rows: auto 1fr auto;
}

.tabs {
  @media (max-width: 483px) {
    width: 100vw;
  }
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menHeading {
  text-align: center;
  font-size: 2em;

  @media (max-width: 483px) {
    font-size: 1.5em;
  }
}

.foodContent {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.background-image {
  position: absolute;
  opacity: 0.02;
  left: -10vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none;
}