.foodItem {
    width: 25em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    @media (max-width:396px) {
        width: 20em;
    }

    h2,
    h4 {
        padding: 0;
        margin: 0;


    }


    .pricing {
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .p {

        display: flex;
        justify-content: center;
        // justify-content: space-around;

    }

    .price {
        font-size: 1.5em;
    }

}