@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;

  .sideNav {
    margin-top: 2em;
    padding: 0;

    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      margin-top: 1.5em;
    }

    a {
      font-size: 2em;
      text-decoration: none;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }

  &__branding {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $color-black;
    text-decoration: none;
  }

  &__logo {
    height: 100px;
    margin-right: 15px;

    @media (max-width: 483px) {
      margin-left: 2em;
    }

  }

  &__title {
    margin: 0;
    font-size: 24px;
  }

  .nav {
    position: absolute;
    font-size: 3em;
    right: 5%;
    height: 100px;
    width: 100px;

    @media (min-width: 483px) {
      display: none;
    }
  }

  .menu {
    margin-left: 45%;

    @media (max-width: 768px) {
      margin-left: 0%;
    }

    @media (max-width: 878px) {
      margin-left: 30%;
    }

    @media (max-width: 690px) {
      margin-left: 25%;
    }

    @media (max-width: 644px) {
      margin-left: 20%;
    }

    @media (max-width: 604px) {
      margin-left: 15%;
    }

    @media (max-width: 568px) {
      margin-left: 10%;
    }

    @media (max-width: 537px) {
      margin-left: 5%;
    }

    @media (max-width: 507px) {
      margin-left: 0%;
    }

    @media (max-width: 483px) {
      display: none;
    }

    ul {

      display: flex;
      justify-content: end;
      list-style: none;

      li {
        font-family: 'Roboto', sans-serif;
        margin: 0px 10px;
      }

      a {
        transition-timing-function: ease-in;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2em;
        color: black;
        text-decoration: none;
        border-bottom: 0px solid black;
        transition: transform .3s ease-out;
        display: inline-block;


        &:hover {
          transform: translate(0, -3px);
          transition-timing-function: ease-in;
          text-decoration: none;
          // border-bottom: 3px solid black;
          transition: .5s all;
          /* or whatever colour you'd prefer */
        }
      }

    }
  }



  &__cart {
    margin-left: auto;

    .snipcart-summary {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .snipcart-total-price {
      color: $color-red;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}