@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.products {
  // max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    // max-width: 0px;
    width: 100vw;
  }
}

.slider {
  // position: absolute;
  // z-index: -10;
  width: 100vw;
  overflow-x: hidden;

  .sliderImg {
    width: 100%;
    height: 100%;
  }
}

.orderHeading {
  padding-top: .5em;
  padding-bottom: .5em;
  width: 100%;
  margin-top: 5em;
  background-color: #D5572D;

  h1 {
    font-size: 3em;
    font-family: 'Lobster', cursive;

    padding: 0;
    margin: 0;
    text-align: center;
    color: white;

    &:nth-child(1) {
      font-family: 'Lobster', cursive;

    }
  }

}

.mycard,
.mycard2 {
  margin-left: 5em;
  margin-right: 5em;

  @media (max-width:960px) {
    margin-left: 1em;
    margin-right: 1em;
  }

  @media (min-width:1566px) {
    margin-left: 20em;
    margin-right: 20em;
  }

  @media (max-width:834px) {
    margin: 0;
  }
}

.mycard {
  align-self: flex-start;
  width: 50em;
}

.mycard2 {
  align-self: flex-end;
  width: 50em;
}

.mtop {
  margin-top: 5em;
}

.btn {
  color: red;
  border-color: red;

  &:hover {
    color: darkred;
    border-color: darkred;
  }
}

.product {
  width: 100vw;
  font-weight: bold;

  display: grid;
  grid-template-areas:
    "name         name         image"
    "description  description  image"
    "button       button       image"
    ".            .            image";
  grid-template-columns: 1fr 1fr 3fr;
  margin-bottom: 100px;
  grid-column-gap: 100px;

  &__name {
    grid-area: name;
    font-size: 36px;
    margin: 0;
  }

  &__image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 18.025px 43.775px rgba(0, 0, 0, 0.25);
  }

  &__description {
    grid-area: description;
    font-weight: 400;
    margin-bottom: 75px;
  }

  &__price {
    font-size: 28px;
  }

  .buy-button {
    margin-left: 30px;
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    grid-area: button;
  }

  &:nth-of-type(odd) {
    grid-template-areas:
      "image name         name"
      "image description  description"
      "image button       button"
      "image .            .";
    grid-template-columns: 3fr 1fr 1fr;

    @include mobile {
      grid-template-areas:
        "image        image      "
        "name         name       "
        "description  description"
        "button       button     ";
      grid-template-columns: 1fr 1fr;

      img {
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  @include mobile {
    grid-template-areas:
      "image        image      "
      "name         name       "
      "description  description"
      "button       button     ";
    grid-template-columns: 1fr 1fr;

    img {
      height: 300px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}