---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: content/Family Meals
  label: Family Meals
  create: all
  match: "**/*"
  templates:
  - family-meals
- type: directory
  path: content/grill
  label: Grill
  create: all
  match: "**/*"
  templates:
  - grill
- type: directory
  path: content/salad
  label: Salad
  create: all
  match: "**/*"
  templates:
  - salad
- type: directory
  path: content/dinnersmlg
  label: dinnersmlg
  create: all
  match: "**/*"
  templates:
  - dinnerlgsm
- type: directory
  path: content/dinner
  label: dinner
  create: all
  match: "**/*"
  templates:
  - dinner
- type: directory
  path: content/products
  label: Products
  create: all
  match: "**/*"
  templates:
  - product
- type: heading
  label: All Things Chicken
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.63.2
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.63.2
