---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: content/cateringSalads
  label: Catering Salads
  create: all
  match: "**/*"
  templates:
  - cateringsalads
- type: directory
  path: content/cat3pc
  label: Catering 3Pc
  create: all
  match: "**/*"
  templates:
  - catering-3pc
- type: directory
  path: content/kids
  label: Kids Meals
  create: all
  match: "**/*"
  templates:
  - kids-meals
- type: directory
  path: content/dessert
  label: Desserts
  create: all
  match: "**/*"
  templates:
  - desserts
- type: directory
  path: content/bulkie
  label: Bulkies
  create: all
  match: "**/*"
  templates:
  - bulkie
- type: directory
  path: content/grill
  label: Grill
  create: all
  match: "**/*"
  templates:
  - grill
- type: directory
  path: content/salad
  label: Salad
  create: all
  match: "**/*"
  templates:
  - salad
- type: directory
  path: content/dinnersmlg
  label: dinnersmlg
  create: all
  match: "**/*"
  templates:
  - dinnerlgsm
- type: directory
  path: content/dinner
  label: dinner
  create: all
  match: "**/*"
  templates:
  - dinner
- type: directory
  path: content/products
  label: Products
  create: all
  match: "**/*"
  templates:
  - product
- type: heading
  label: Sides
- type: directory
  path: content/pskins
  label: Pskins Bacon Cheddar
  create: all
  match: "**/*"
  templates:
  - potato-skins-with-bacon-cheddar
- type: directory
  path: content/Jojos
  label: Jojos
  create: all
  match: "**/*"
  templates:
  - jojos
- type: directory
  path: content/Side
  label: Side
  create: all
  match: "**/*"
  templates:
  - side
- type: directory
  path: content/SideLGSM
  label: sidelgsm
  create: all
  match: "**/*"
  templates:
  - sidelgsm
- type: heading
  label: All Things Chicken
- type: directory
  path: content/wings
  label: Wings
  create: all
  match: "**/*"
  templates:
  - wings
- type: directory
  path: content/Family Meals
  label: Family Meals
  create: all
  match: "**/*"
  templates:
  - family-meals
- type: directory
  path: content/chick stix
  label: Chick Stix
  create: all
  match: "**/*"
  templates:
  - chick-stix
- type: directory
  path: content/bone-in-bucket
  label: Bone-In-Bucket
  create: all
  match: "**/*"
  templates:
  - bone-in-bucket
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.63.2
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.63.2
