{{ partial "header.html" . }}

<!-- {{ $products := getJSON "/data/products.json" }} -->
<main>
    <div class="uk-width-3-4 tabs">
        <ul class="uk-tab tabs2" data-uk-tab="{connect:'#my-id'}">
            <li><a href="">Catering</a></li>
            <li><a href="">Salads</a></li>
        </ul>
        <ul id="my-id" class="uk-switcher uk-margin ">
            <li>
                <h1 class="menHeading">Catering</h1>
                <div class="foodContent">
                    {{ range where .Site.RegularPages "Section" "cat3pc"}}
                    {{ partial "catering3pc.html" .Params }}
                    {{end}}
                </div>
            </li>
            <li>
                <h1 class="menHeading">Salads</h1>
                <div class="foodContent">
                    {{ range where .Site.RegularPages "Section" "cateringSalads"}}
                    {{ partial "saladscatering.html" .Params }}
                    {{end}}
                </div>
            </li>
        </ul>
    </div>
</main>

{{ partial "footer.html" . }}