{{ partial "header.html" . }}

<main>

  <div class="uk-width-3-4 tabs">
    <ul class="uk-tab tabs2" data-uk-tab="{connect:'#my-id'}">
      <li><a href="">Dinner</a></li>
      <li><a href="">Salads</a></li>
      <li><a href="">All Things Chicken</a></li>
      <li><a href="">Bulkie Sandwiches</a></li>
      <li><a href="">Sides</a></li>
      <li><a href="">Desserts</a></li>
      <li><a href="">Kids Meals</a></li>
    </ul>
    <ul id="my-id" class="uk-switcher uk-margin ">
      <li class="uk-animation-fade">
        <h1 class="menHeading">Dinner</h1>
        <h2 class="subHeading">All served with Mashed Potatoes with gravy French Fries, Cole Slaw & a
          roll.</h1>
          <div class="foodContent">
            {{ range where .Site.RegularPages "Section" "dinnersmlg"}}
            {{ partial "fooditem2price.html" .Params }}
            {{ end }}
            {{ range where .Site.RegularPages "Section" "dinner"}}
            {{ partial "fooditem.html" .Params }}
            {{ end }}
          </div>
          <h2 class="menHeading">From the Grill</h2>
          <div class="foodContent">
            {{ range where .Site.RegularPages "Section" "grill"}}
            {{ partial "fooditem.html" .Params }}
            {{ end }}
          </div>
      </li>
      <li class="foodContent uk-animation-fade">
        <h1 class="menHeading">Salads</h1>
        <h2 class="subHeading">Available Dressings: Italian, Lite Italian, Blue Cheese, Ranch, Thousand Island, Caesar,
          Greek, Honey Mustard. Add Feta to any Salad for 99¢</h2>
        {{ range where .Site.RegularPages "Section" "salad"}}
        {{ partial "fooditem.html" .Params }}
        {{end}}
      </li>
      <li>
        <h1 class="menHeading">Chick Stix®</h1>
        <h2 class="subHeading">Plain or Buffalo</h2>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "chick stix"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
        <h1 class="menHeading">Bone-in-Buckets</h1>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "bone-in-bucket"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
        <h1 class="menHeading">Fresh Wings</h1>
        <h2 class="subHeading">Flavors: Plain | Buffalo | BBQ | Teriyaki | Sweet Heat | Garlic Parmesan | Lemon
          Pepper | Ranch Alita | Honey Mustard </h2>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "wings"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
        <h1 class="menHeading">Family Meals</h1>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "Family Meals"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
      </li>
      <li class="foodContent">
        <h1 class="menHeading">Bulkies</h1>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "bulkie"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>

      </li>
      <li class="foodContent">
        <h1 class="menHeading">Sides</h1>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "Side"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "SideLGSM"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
        <h1 class="menHeading">Jo Jo's Potatoes</h1>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "Jojos"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
        <h1 class="menHeading">Potato Skins with Bacon & Cheddar</h1>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "pskins"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>
      </li>
      <li class="foodContent">
        <h1 class="menHeading">Desserts</h1>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "dessert"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>

      </li>
      <li>
        <h1 class="menHeading">Kids Meals</h1>
        <h2 class="subHeading">All served with french fries.</h2>
        <div class="foodContent">
          {{ range where .Site.RegularPages "Section" "kids"}}
          {{ partial "fooditem.html" .Params }}
          {{end}}
        </div>

      </li>
    </ul>
  </div>

  <!-- 
  {{ range where .Site.RegularPages "Section" "products" }}
  {{ partial "product.html" .Params }}
  {{ end }} -->

</main>

{{ partial "footer.html" . }}